* {
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    max-width: 100vw;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
}

.loader {
    width: 25px;
    height: 25px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid rgb(99, 102, 241);
    border-radius: 50%;
    animation: spin 750ms linear infinite;
}

.fade-in {
    animation: fade-in 750ms forwards;
}

.fade-out {
    animation: fade-out 750ms forwards;
}

.slide-up {
    animation: slide-up 0.4s ease-in-out forwards;
}

.slide-down {
    animation: slide-down 0.4s ease-in-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vw);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@tailwind base;
@tailwind components;
@tailwind utilities;